* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F3F5FC;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: realtive;
   min-height: 100vh;
}
.container{
  display: flex;

}
#encriptar-texto{
background-color: #F3F5FC;
}
.main {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  text-align: center;
  padding: 15px;
  margin-bottom: 30px;
}
.form.box{
  background-color:#F3F5FC ;
  box-shadow: none;
}
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-top: 0;
  margin: 0 10px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  width: 40vw;
  height: 70vh
}

.btn {
  width: 100px;
  border: 0;
  color: white;
  font-weight: bold;
  background-color: rgb(16, 53, 218);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}
.btn:hover{
  background-color: rgba(2, 49, 255, 0.924);
  color: aqua;
}

.text-input { 
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border: none;
  outline: none; /* saca la linea del imput al hacer focus */
  background-color: #F3F5FC;
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 60vh;
  text-align:top;
}

.btn-copiar{
  display: none;
  
}
.msje-encriptado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.image{
  background-color: white;
  border-radius: 8px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.image img{
  max-width: 100%;
}
.switch{
  z-index: -1;
}
.subtitle{
  font-size: 18px;
  text-align: center;
  padding: 10px 0;

}
.text{
  font-size: 16px;
  color: #495057;
  margin-bottom: 10px;
}

.footer{
  display: flex;
  justify-content: center;
}
@media(max-width:520px){
  .main {
  display: block;
  }
  form{
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
  }
  .titulo{
    margin-top: 50px;
    font-size: 35px;
  }
  h2{
    font-size: 17px;
    text-align: center;
  }
  .box{
    width: 70vw;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer{
    font-size: 11px;
    text-align: center;
  }
}