* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #E5E5E5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: realtive;
  min-height: 100vh;
}
.container-logo{
  width: 90%;
  margin:0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.container{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content:space-around;
  align-items: center;
  padding-top: 10px;
}
.form.box{
  box-shadow: none;
}
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  margin: 0 10px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  width: 40vw;
  height: 70vh
}
.text-info{
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.text-info p{
  margin-left:5px;
  font-style: normal;
  font-size: 12px;
  font-weight:lighter;
  color: #495057;
  opacity: 0.8;
}
.btn {
  gap: 8px;
  display: flex;
  justify-content: space-between;
  width:100%;
  padding: 10px;
}
.btn-encriptar{
  width: 50%;
  border: 0;
  color: white;
  font-weight: bold;
  background-color: rgba(10,56,113,1);
  padding: 10px;
  border-radius: 1em;
}
.btn-desencriptar{
  width: 50%;
  border: 1px solid rgba(10,56,113,1);
  color: rgba(10,56,113,1);
  font-weight: bold;
  padding: 10px;
  border-radius: 1em;
}
.btn-desencriptar:hover{
  background-color: rgba(2, 49, 255, 0.924);
  color: aqua;
}
.text-input { 
  border: none;
  outline: none; /* saca la linea del imput al hacer focus */
  background-color: #E5E5E5;
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 60vh;
  text-align:top;
}
.msg{
  background-color: white;
}
.msje-encriptado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68vh;
  border-radius: 16px;
}
.msje-encriptado .text-input{
  background-color: #ffffff;
}
.image{
  background-color: white;
  border-radius: 8px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.image img{
  max-width: 100%;
}
.switch{
  display: none;
}
.subtitle{
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  padding: 10px 0;
  color: rgba(52, 58, 64, 1);
}
.text{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #495057;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}
.footer{
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
@media(max-width:768px){
  .container{
    max-width: 90%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  h2{
    font-size: 17px;
    text-align: center;
  }
  .box{
    width: 70vw;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
  }
  .image{
    justify-content: start;
    max-height: 100%;
  }
  .image img{
    display: none;
  }
  .msje-encriptado {
    max-height: 100%;
  }
  .footer{
    font-size: 11px;
    text-align: center;
  }
}
@media(max-width:450px){
  .form.box{
    margin-bottom: 50px;
  }
  .btn{
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .subtitle{
    font-size: 20px;
  }
  .text{
    font-size: 15px;
  }
  .footer{
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}